html {
    scroll-behavior: smooth;
    
}

body{
    margin:0px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100%;

}

header{
    background: url(../images/fondo_romina_header.png);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right top;
    background-size:cover;
    display: flex;
    justify-content:flex-end;
    align-items:center;
    
}

.gradiente{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(to top, transparent, rgba(75, 67, 45, 0.151));
    position: absolute;
    align-content: center;
    background-size: cover;
    background-position: center;
   
}

.frase{
   position: relative;
   right:130px;
   width: 100vh;
   color:rgb(251, 251, 200);
   bottom: 170px;
   font-family: "Petit Formal Script", serif;
   font-size: 40px;
   padding:10px;
   
}

h3{
    font-size: 30px;
    font-family: "EB Garamond", serif;
}


.texto-info{
    position:relative;
    padding: 35px;
    padding-bottom: 30px;
    height: 450px;
    width: 300px;
    top:40px;
    left:40px;
    box-shadow: 6px 6px 10px rgba(60, 60, 55, 0.496);
    font-family: "Petit Formal Script", serif;
    font-size: 20px;
    color: #b38c48;
    background: url(../images/papel\ 3.avif);
    background-size: cover;
    background-repeat: no-repeat;
    align-items:center;
    display:flex;
    flex-direction: column;
    align-items:center;


}

#texto{
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-items: flex-start;
}

#sello{
    background: url(../images/sello.png);
    background-size: cover;
    width:80px;
    height:80px;
    background-position: center;
 
}

h1{
    font-size:40px;
    text-align: center;
    font-family: "Petit Formal Script";
    margin-bottom:0;
}

.cont-temporizador{
    position:relative;
    display: flex;
    font-size: 18px;
    width:100px;
    z-index: 14;
    justify-content: center;
    bottom: 270px;
    right:195px;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 30px #5b4308;
   
    
}

.cont-unidad{
    margin:10px;
    text-align: justify;
    align-items: center;
    flex-direction: column;
    display:flex;
    font-weight: bold;
    font-family: "EB Garamond", serif;
  
    
}

.bendicion{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    position: flex;
    background:url(../images/beigepatron.jpg);
    background-repeat: repeat;
    width: 100%;
    
}


#texto-bendicion{
    background: url(../images/bendiciones5.png);
    background-size: cover;
    width: 50%;
    height:100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: rgb(104, 99, 62);
    box-shadow: 8px 8px 10px rgba(60, 60, 55, 0.496) ;
    
}

h4{
    font-size: 100px;
    margin: 0px;
    font-family: "Petit Formal Script";
    
}

h7{
    font-size: 20px;
    margin: 10px;
    font-family: "EB Garamond", serif;

}

h5{
    margin: 0;
    font-size: 25px;
   

}

h6{
    margin:0;
    font-size:25px;
}

#padres1{
    margin: 20px;
    font-family: "Petit Formal Script";
    
}

#padres2{
    margin:20px;
    font-family: "Petit Formal Script";
}

.detalles-del-evento{
    height: 100vh;
    background: url(../images/olas4.gif);
    background-size: cover;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cont-tarjetas{
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    height: 60%;
    position: relative;
    
  
}

.tarjeta-detalles{
    background: url(../images/papel\ 3.avif);
    background-size: cover;
    text-align: center;
    padding: 35px;
    width: 350px;
    height: 230px;
    align-content: center;
    justify-content: center;
    margin-right: 30px;
    box-shadow: 7px 7px 8px rgba(60, 60, 55, 0.496);
    font-family: "EB Garamond", serif;
    font-size: 17px;
    color: rgb(104, 99, 62);
    margin-top:0px;
}

h8{
    font-size: 22px;
    font-family: "Petit Formal Script", serif;
    color: rgb(81, 75, 38);
    font-weight: bold;
    
}

h10{
    font-size: 18px;
    font-weight:900;
}

h11{
    font-size: 30px;
    font-weight: bold;
    font-style: italic; 
    font-family: "Petit Formal Script", serif;
    color: rgb(81, 75, 38);
}

#titulo-detalles{
    text-align: center;
    align-content: center;
    justify-content: center;
    height: 20%;
    font-size: 59px;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 0;
    color:rgb(251, 251, 200);
    position: relative;
    font-family: "Petit Formal Script", serif;
    
   
}

.gradiente2{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(to top, transparent, rgba(107, 125, 128, 0.582));
    position: absolute;
    top:0;
    left:0;
}

.cont-linea-del-tiempo{
    height: 5%;
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row ;
}

#linea{
    height: 2px;
    width: 800px;
    background-color: rgb(251, 251, 200);
    border-radius: 100px;
}

#cont-iconos-tarjetas{
    height: 10%;
    display: flex;
    position: relative;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-top:20px;
    bottom: -50px;
}

#icono-reloj{
    background: url(../images/reloj3.png);
    background-size: cover;
    height: 70px;
    width: 70px;
    

}

#icono-vestido{
    background: url(../images/gancho3.png);
    height: 70px;
    width: 70px;
    background-size: cover;
  

}

#icono-niños{
    background: url(../images/niño3.png);
    height: 70px;
    width: 70px;
    background-size: cover;
    

}

.cont-iconos{
    width: 350px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 30px;
    margin-right: 30px;
}

#cont-datos-regalo{
    height: 100vh;
    background:url(../images/beigesabana2.jpg);
    background-size:cover;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

#tarjeta-regalo{
    height: 50vh;
    background-color:rgba(255, 251, 245, 0.534);
    width: 70%;
    box-shadow: 8px 8px 20px rgba(78, 76, 62, 0.567);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    flex-direction: row;
    padding: 20px;

}


#titulo-regalos{
    color:rgb(125, 106, 67);
    margin-bottom: 10px;
    font-size: 70px;
    font-family: "Petit Formal Script", serif;
    font-weight: bold;
    
}

#cont-texto-regalo{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;

}

#cont-texto-regalo-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    width: 100%;
}

#cont-texto-regalo-1{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    font-family: "EB Garamond", serif;
    font-size: 20px;
    color: rgb(104, 99, 62);
    margin-bottom: 10px;

}

#puro-texto-cuenta{
    text-align: center;
    width: 70%;
    height: 100px;
    align-content: center;
    font-family: "EB Garamond", serif;
    font-size: 15px;
    color: rgb(93, 81, 46);
    line-height: 0.8;
}

#cont-regalo-cuenta{
    display:flex;
    flex-direction: column;
    background: white;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 30px;
    box-shadow: 5px 5px 30px rgb(81, 75, 38);

}

#texto-y-icono{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}


#icono-tarjeta{
    background: url(../images/tarjeta2.png);
    background-size: cover;
    width: 70px;
    height: 70px;
    margin-right: 30px;
    opacity: 80%;
}

.titulo-cuenta{
    font-family: "Petit Formal Script", serif;
    font-weight: bolder;
    color: rgb(93, 81, 46);
    font-size: 20px;
    text-align: center;
}

#cont-regalo-sobre{
    text-align: center;
    background: white;
    padding:30px;
    width: 50%;
    height: 126px;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-family: "EB Garamond", serif;
    font-size: 17px;
    color: rgb(93, 81, 46);
    box-shadow: 5px 5px 30px rgb(81, 75, 38);
    display:flex;
    flex-direction: column;
    
}

#icono-sobre-y-texto{
    display:flex;
    flex-direction: row;
    margin-top: 10px;
}

#icono-sobre{
    background: url(../images/sobre2.png);
    background-size: cover;
    width: 70px;
    height: 70px;
    margin-right: 5px;
    opacity: 80%;
}


.boton-ubi-ceremonia{
    padding:5px;
    margin-right: 10px;
    background: url(../images/ubicacionblanco.png);
    height: 20px;
    width: 20px;
    background-size: cover;
    border-radius: 100px;
    background-color: rgb(172, 169, 137);
    box-shadow: 1px 1px 100px;
    display:flex;
}

.boton-ubi-recepcion{
    padding:5px;
    color: white;
    font-family: "EB Garamond", serif;
    margin-right: 10px;
    background: url(../images/ubicacionblanco.png);
    height: 20px;
    width: 20px;
    background-size: cover;
    border-radius: 100px;
    background-color: rgb(172, 169, 137);
    box-shadow: 1px 1px 100px;
}

.boton-ubi-ceremonia:hover{
    background-color: rgb(146, 130, 93);

}

.ubicacion{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.boton-ubi-recepcion:hover{
    background-color: rgb(146, 130, 93);

}

/*Carrusel*/

.wrapper{
 max-width: 100%;
 position: relative; 
 padding: 25px; 
   
}


.wrapper .cont-carrusel{
    white-space: nowrap;
    font-size: 0px;
    cursor:pointer;
    overflow: hidden;
    scroll-behavior: smooth;
  

}

.cont-carrusel.dragging{
    cursor:grab;
    scroll-behavior: auto; 
}

.cont-carrusel.dragging img{
    pointer-events: none;
}

.cont-carrusel img{
    height: 340px;
    width:calc(100%/5);
    object-fit: cover;
    margin-left: 6px;
}

.cont-carrusel img:first-child{
    margin: 0px;
}

/*Iconos de google*/

.material-symbols-outlined{
    color: beige;
    margin: 12px;
}

.iconos-carrusel{
    height: 44px;
    width: 44px;
    background-color: rgb(93, 81, 46);
    border-radius: 100%;
    cursor:pointer;
    font-size: 5px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    line-height: 46px;
    font-size: 1.2rem;
   
}

.wrapper .iconos-carrusel:first-child{
    left: 5px ;
    display: none;
}


.wrapper .iconos-carrusel:last-child{
    right: 5px ;
}


#save-the-date{
    height: 100vh;
    background-color: white;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    position: relative;
    background: url(../images/savethedate4.jpg);
    background-position: center;
    background-size: cover;
}

#rosa-png{
    background: url(../images/rose_logo.png);
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100px;
    position: relative;
    z-index: 999;
    filter: opacity(60%);
}


#info-std{
    height: 100vh;
    width: 30%;
    background:url(../images/papel4.jpg);
    filter:brightness(110%);
    background-position: center;
    background-size: cover;
    position: relative;
    left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

#texto-std{
    height: 150px;
    width: 200px;
    text-align: center;
    color:  rgb(93, 81, 46);
    font-size: 20px;
    font-family: "EB Garamond", serif;
    display: flex;
    align-items: center;
    justify-content: center;
   
   

}

#te-esperamos{
    font-family: "Petit Formal Script", serif;
    font-size: 40px;
    color:  rgb(93, 81, 46);
    text-align: center;
    height:60px;
    font-weight: bold;
}

.btn-asistencia{
    height: 50px;
    width:160px;
    background-color:rgb(93, 81, 46); 
    font-size: 18px;
    color:white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "EB Garamond", serif;
    border-radius: 100px;
    flex-direction: column;
 
}

.btn-asistencia:hover{
    background-color:rgb(167, 145, 79); 
    color:white;  

}

footer{
    height: 40vh;
    background:url(../images/fondobeige3.jpg);
    filter:rgb(172, 156, 106);
    background-repeat: repeat;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#linea2{
    height: 2px;
    width: 800px;
    background-color: rgb(125, 106, 67);;
    border-radius: 100px;
    margin: 20px;
    margin-bottom: 20px;
}

#cont-footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 100%;
    position: relative;
    bottom: 30px;
}

#sobre-png{
    background: url(../images/sobrepapel2.png);
    height:60px;
    width: 120px;
    background-position: center;
    background-size: cover;
    z-index: 999;
    position: relative;
    top: 90px;
}

#circulo{
    height: 120px;
    width: 120px;
    background-color: white;
    border-radius: 100px;
}

#logo{
    position: relative;
}

#info-footer{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 20%;
    text-align:center;
    align-items: center;
    justify-content: center;
    font-family: "EB Garamond", serif;

}

#nombre{
    width: 50%;

}

#numero{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

#separador{
    width: 1%;
}

#icono-whats{
    width: 40px;
    height: 40px;
    background: url(../images/wassa-negro.png);
    background-size: cover;
    background-position: center;
    margin-right: 5px;
}

#titulo-footer{
    font-family: "EB Garamond", serif;
    font-weight: bold;
    position: relative;
    top: 0px;
}

/*Responsive*/
@media screen and (max-width:900px){
    .cont-carrusel img{
        width:calc(100%/2);
    }
}

@media screen and (max-width:550px){
    .cont-carrusel img{
        width:100%;
    }
    
}